@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  margin: auto;
  padding: 1.6rem;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }
  
  @media screen and (min-width: 1024px) {
    padding: 0 4.5rem;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 0 8rem;
  }
}